@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --black: #000000;
  --white: #f6f6f6;
  --background: #E9E9E9;
  --superpage: #e6e6e6;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--white);
}