.scatterplot-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid rgba(117, 117, 117, 20%);
  border-radius: 5px;
  background-color: #ffffff;
}

.scatterplot-title h4{
  margin: 0;
  padding-bottom: 2.5px;
}

.scatterplot-title{
  border-bottom: 2px solid rgba(117, 117, 117, 20%);
}

.scatterplot-graphic{
  padding-top: 15px;
}